.vscode/
.vscode-test/
.github/**
.husky/**
**/node_modules
**/.eslintignore
**/.eslintrc.json
**/package-lock.json
**/tsconfig.json
**/webpack.config.js
**/*.ts
**/*.vsix
.editorconfig
.eslintrc.base.json
.gitattributes
.gitignore
tsconfig.base.json
vscode-robots-dot-txt-support.code-workspace
webpack.config.common.js
