.github/**
.husky/**
.vscode/**
node_modules/**
client/**
server/**
.editorconfig
.eslintrc.base.json
.gitattributes
.gitignore
package-lock.json
tsconfig.base.json
vscode-robots-dot-txt-support.code-workspace
